body{
    background: rgb(1, 1, 51);
    border: 40px solid black;
    border-top: 0px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    color: white;
}

h1{
    text-align: center;
}
p{
    margin: 100px 200px 100px 200px;
}

