table{
    margin-left: auto;
    margin-right: auto;
}

td{
    height: 130px;
    width:130px;
    border: solid black 4px;
    text-align: center;
    vertical-align:center;
    font-size: 80px;
    
}